.chat-wrapper {
  height: 100vh;
  background: #2a2b2e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.chat-box {
  width: 800px;
  height: 90vh;
  background: #020617;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

.chat-header {
  padding: 16px;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #1e293b;
}

.chat-body {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  color: #e5e7eb;
  line-height: 1.7;
}

.placeholder {
  color: #64748b;
}

.chat-input {
  display: flex;
  padding: 16px;
  border-top: 1px solid #1e293b;
  gap: 12px;
}

.chat-input textarea {
  flex: 1;
  background: #020617;
  color: #e5e7eb;
  border: 1px solid #1e293b;
  border-radius: 10px;
  padding: 12px;
  resize: none;
  height: 60px;
}

.chat-input textarea:focus {
  outline: none;
  border-color: #38bdf8;
}

.chat-input button {
  background: #38bdf8;
  color: #020617;
  border: none;
  padding: 0 24px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.chat-input button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 1 }
}

.markdown pre {
  background: #020617;
  padding: 12px;
  border-radius: 8px;
}

.markdown code {
  color: #38bdf8;
}




/* modified stylings */


.chat-message {
  max-width: 75%;
  padding: 12px 16px;
  border-radius: 14px;
  margin-bottom: 14px;
  line-height: 1.6;
}

.chat-message.user {
  background: #2563eb;
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

.chat-message.assistant {
  background: #020617;
  border: 1px solid #1e293b;
  color: #e5e7eb;
  align-self: flex-start;
  margin-right: auto;
}

.chat-body {
  display: flex;
  flex-direction: column;
}




.auth-wrapper {
  height: 100vh;
  background: linear-gradient(135deg, #020617, #0f172a);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.auth-box {
  background: rgba(75, 76, 80, 0.9);
  padding: 40px;
  width: 350px;
  border-radius: 14px;
  box-shadow: 0 0 40px rgba(35, 34, 34, 0.7);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-box h2 {
  text-align: center;
  color: #e5e7eb;
}

.auth-box input {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 12px;
  border-radius: 10px;
  color: #e5e7eb;
}

.auth-box input:focus {
  outline: none;
  border-color: #38bdf8;
}

.auth-box button {
  background: #38bdf8;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.auth-box button:hover {
  opacity: 0.9;
}

.message {
  text-align: center;
  color: #38bdf8;
}
